<aside class="sidebar">
    <div class="sidebar-header">
        <i class="fa-solid fa-building-circle-check brand-icon"></i>
        <h2>Glenigan</h2>
    </div>
    <ul class="nav-menu">
        <li class="nav-item" ng-class="{ active: $ctrl.isActive('/projects') }">
            <a href="#!/projects"><i class="fa-solid fa-layer-group"></i> Projects</a>
        </li>
        <li class="nav-item" ng-class="{ active: $ctrl.isActive('/companies') }">
            <a href="#!/companies"><i class="fa-solid fa-building"></i> Companies</a>
        </li>
    </ul>
</aside>
